<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>eight</key>
    <string>eight.glif</string>
    <key>eight.osf</key>
    <string>eight.osf.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>five.osf</key>
    <string>five.osf.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>four.osf</key>
    <string>four.osf.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>nine.osf</key>
    <string>nine.osf.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>one.osf</key>
    <string>one.osf.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>seven.osf</key>
    <string>seven.osf.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>six.osf</key>
    <string>six.osf.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>three.osf</key>
    <string>three.osf.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>two.osf</key>
    <string>two.osf.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>zero.osf</key>
    <string>zero.osf.glif</string>
  </dict>
</plist>
